@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: whitesmoke;
    text-align: center;
    padding: 1em;
}
.intro{
    background: white;
    padding: 2em;
    border-radius: 10px;
    width: min(40em , calc(100% - 2em));
    margin: 2em auto;
    /* display: none; */
}
h1,h2,h3{
    color: #1c1c1c;
    line-height: 1.5;
    margin-block: .5em;
}

.start , .enter , .repeat{
    background: none;
    border: 0;
    border: 2px solid #1c1c1c;
    background-color: #1c1c1c;
    color: #FFFFFF;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 15px;
    transition: all .5s ease-in-out;
}
.start:hover{
    background: #FFFFFF;
    color: #1c1c1c;
}
span{
    color: #1c1c1c;
    margin-block-end: 1em;
    opacity: .8;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
}
section{
    padding: 1em;
    width: min(30em , calc(100% - 1em));
    background: white;
    margin: 3em auto;
    border-radius: 10px;
    display: none;
}
input{
    background: #1c1c1c;
    border:0;
    padding: 15px 15px;
    width: 100%;
    border-radius: 10px;
    color: #fff;
}
p{
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 600;
    background: red;
    border-radius: 10px;
    padding: .3em;
}
.about{
    color: red;
    font-weight: 700;
}
.result{
    margin-block: 1em;
    background: white;
    display: flex;
    flex-direction: column;
    gap:.5em;
    padding: 1em;
    border-radius: 10px;
}

.alert{
    width: min(40em , calc(100% - 1em));
    min-height: 2em;
    background: #fff;
    margin: .5em auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 10px 8px 5px rgb(0, 0, 0,.9);
    background: rgb(207, 6, 6);
    display: none;
}
.alert span{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}
.enter,.repeat{
    color: #000;
    font-weight: 600;
    margin-block: .5em;
    background: whitesmoke;
    padding: 2px 40px;
    border-radius: 10px;
}
.repeat{
    display: none;
}